.root {
    width: 400px;
    margin: 200px auto;
}

.imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.img {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    padding: 6px 10px;
    background-color: aqua;
    border-radius: 10px;
    cursor: pointer;
}

.text {
    margin-left: 10px;
}